<app-navbar></app-navbar>
<div class="autores-page-container">
    <div class="autores-page-header">
        <h2>Autores Listados</h2>
        <a href="/Autor/Novo-Autor">
            <button mat-stroked-button color="primary">
                <mat-icon color="primary">add</mat-icon>
                Cadastrar Novo Autor
            </button>
        </a>
    </div>
    <mat-divider></mat-divider>
    <ul class="autores-list">
        <li class="list-item list-header">
            <p class="table-item">Id</p>
            <p class="table-item">Nome</p>
            <p class="table-item">Data de Nascimento</p>
            <p class="table-item">Nacionalidade</p>
            <p class="table-item">Editar/Remover</p>
        </li>
        <li class="list-item list-autor" *ngFor="let autor of autores$ | async">
            <p class="table-item"> {{autor.id}} </p>
            <p class="table-item"> {{autor.nome}} </p>
            <p class="table-item"> {{autor.dataDeNascimento}} </p>
            <p class="table-item"> {{autor.nacionalidade}} </p>
            <div class="action-buttons table-item">
                <button mat-mini-fab color="accent" aria-label="Botão com o incone de editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Botão com o incone de deletar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</div>