.autores-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}


.autores-list {
    display: flex;
    flex-flow: column;
    padding: 0;
    width: 100%;
}

.list-header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: auto;
    text-align: center;

    background: var(--mat-divider);
    border-bottom: 1px solid var(--mat-primary);
    border-top: 1px solid var(--mat-primary);
}

.list-header {
    font-size: 1.1rem;
    color: var(--mat-primary);
}

.list-item {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    background: var(--mat-divider);
    border-top: 1px solid var(--mat-primary);
}

.list-autor {
    cursor: pointer;
}

.list-autor:hover {
    transition: 0.5s;
    background-color: var(--mat-pink-lighter);
    color: black;
    font-weight: 500;
}

.table-item {
    flex: 1;
    align-self: center;
}

p {
    margin: 0;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}