.pagina-conteudo {
    margin: 10% 10% 0;
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.autor-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.conteudo-texto {
    overflow: hidden;
}

.autor-nome {
    margin: 0;

    font-size: 32px;
    color: var(--mat-primary);
    font-weight: 600;
}

.autor-resumo {
    margin: 0;
    text-align: justify;
    font-size: 18px;
}

.autor-foto {

    border-radius: 50%;
}

.livros-lista {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.livros-titulo {
    font-size: 24px;
}