<app-navbar></app-navbar>
<div class="pagina-conteudo" *ngIf="(autor$ | async) as autor">
    <div class="autor-conteudo">
        <img src="{{autor.foto}}" alt="Foto de {{autor.nome}}" class="autor-foto" width="300">
        <div class="conteudo-texto">
            <h1 class="autor-nome">{{autor.nome}}</h1>
            <h3 class="autor-nacionalidade">{{autor.nacionalidade}}, {{autor.dataDeNascimento | date:'dd-MM-yyyy'}}
            </h3>
            <p class="autor-resumo">{{autor.resumoBibliografico}}</p>
        </div>
    </div>
    <div class="autor-livros">
        <h2 class="livros-titulo">Livros</h2>
        <mat-divider></mat-divider>
        <div class="livros-lista">
            <app-livro-card *ngFor="let l of autor.livros" [livro]="l"></app-livro-card>
        </div>
    </div>
</div>