<mat-card class="card-component">
    <mat-card-header>
        <mat-card-title class="card-title"> {{livro.titulo}} </mat-card-title>
        <mat-card-subtitle>{{livro.subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-image" src="{{livro.fotoDaCapa}}" alt="foto da capa do livro {{livro.titulo}}">
    <mat-card-content>
        <p>{{livro.dataDePublicacao | date}}</p>
        <p class="livro-resumo">{{livro.resumo}}</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <a href="/autores/{{livro.autores[0].id}}">
            {{livro.autores[0].nome}}
        </a>
    </mat-card-footer>
    <mat-card-actions class="card-actions">
        <a href="/livro/{{livro.id}}">
            <button mat-button>SAIBA MAIS</button>
        </a>
    </mat-card-actions>
</mat-card>