<mat-card class="autor-card">
    <mat-card-header>
        <mat-card-title-group class="autor-card-title-group">
            <mat-card-title><a href="/Autor/{{autor.id}}"> {{autor.nome}} </a></mat-card-title>
            <mat-card-subtitle> {{autor.nacionalidade}} </mat-card-subtitle>
            <img mat-card-md-image class="autor-card-image" src="{{autor.foto}}" alt="Foto de {{autor.nome}}">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="autor-resumo">
        {{autor.resumoBibliografico}}
    </mat-card-content>
</mat-card>