.autor-card {
    width: 400px;
    margin: 0;
    border-radius: 16px;
    padding: 0;
}

.autor-card-title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autor-nome:hover {
    transition: 0.2s;
    color: var(--mat-primary);
}

.autor-card-image {
    margin: 1rem;
}

.autor-resumo {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100px;
    text-align: justify;
    overflow: hidden;
}