<h1 class="page-title">
    Cadastrar Novo Autor
</h1>
<form class="novo-autor-form mat-primary" [formGroup]="form">
    <mat-form-field class="form-item form-item-nome">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" placeholder="Ex. Matheus Araújo dos Santos">
        <mat-hint>*Campo obrigatório.</mat-hint>
        <mat-error *ngIf="(form.controls['nome'].value == '')">
            *O <strong>Nome</strong> é obrigatório.
        </mat-error>
        <mat-error
            *ngIf="(form.controls['nome'].invalid && !form.controls['nome'].pristine && form.controls['nome'].value != '')">
            *Por favor digíte um nome válido.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill' class="form-item">
        <mat-label>Data de nascimento</mat-label>
        <input matInput type="date" formControlName="dataDeNascimento">
        <mat-error *ngIf="!form.controls['dataDeNascimento'].valid">
            *Digite uma data válida.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
        <mat-label>Nacionalidade</mat-label>
        <input matInput formControlName='nacionalidade' placeholder="Brasileiro">
        <mat-error *ngIf="form.controls['nacionalidade'].invalid">*Digite uma nacionalidade válida.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
        <mat-label>Link da Foto</mat-label>
        <input matInput formControlName='foto' placeholder="https://">
        <mat-error *ngIf="form.controls['foto'].invalid">*Digite um Link válido.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-item form-item-resumo">
        <mat-label>Resumo bibliográfico</mat-label>
        <textarea matInput formControlName='resumoBibliografico' placeholder="Ex. Lorem ipsum..."></textarea>
        <mat-error *ngIf="form.controls['resumoBibliografico'].invalid">*O texto ultrapassa o tamanho max de 1200
            caracteres.</mat-error>
    </mat-form-field>
    <div class="form-item form-button-list">
        <a mat-raised-button class="form-button" href="/Autores">
            Cancelar
        </a>
        <button mat-raised-button color="primary" class="form-button" [disabled]="form.invalid"
            (click)="submit()">Salvar</button>
    </div>
</form>