.card-component {
    max-width: 350px;
    border-radius: 16px;
    margin: 0 !important;
}

.card-title {
    color: var(--mat-primary);
    font-size: 16px;
    max-height: 32px;
    overflow: hidden;
}

.card-image {
    height: 200px;
    object-fit: cover;
}

.livro-resumo {
    height: 100px;
    overflow: hidden;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 5px;
    color: var(--mat-primary);
}

.card-actions {
    justify-content: end;
}