<mat-toolbar class="navbar-container">
    <span class="navbar-title">Livraria - Minsait</span>
    <span class="navbar-spacer"></span>
    <div class="navbar-button-row">
        <a mat-button class="navbar-link" href="">
            <span class="material-icons md-18 md-light">home</span>
            <span>Home</span>
        </a>
        <a mat-button class="navbar-link" href="/Livros">
            <span class="material-icons md-18 md-light">menu_book</span>
            <span>Livros</span>
        </a>
        <a mat-button class="navbar-link" href="/Autores">
            <span class="material-icons md-18 md-light">person</span>
            <span>Autores</span>
        </a>
    </div>
</mat-toolbar>