<app-navbar></app-navbar>
<div class="livros-page">
    <div class="livros-page-header">
        <h2>Livros Listados</h2>
        <button mat-stroked-button color="primary">
            <mat-icon color="primary">add</mat-icon>
            Cadastrar Novo Livro
        </button>
    </div>
    <mat-divider></mat-divider>
    <ul class="livros-list">
        <li class="list-item list-header">
            <p class="table-item">Id</p>
            <p class="table-item">Titulo</p>
            <p class="table-item">Subtitulo</p>
            <p class="table-item">Autor</p>
            <p class="table-item">Editora</p>
            <p class="table-item">ISBN</p>
            <p class="table-item">Editar/Remover</p>
        </li>
        <li class="list-item list-livro" *ngFor="let livro of livros$ | async">
            <p class="table-item"> {{livro.id}} </p>
            <p class="table-item"> {{livro.titulo}} </p>
            <p class="table-item"> {{livro.subtitulo}} </p>
            <p class="table-item"> {{livro.autores[0].nome}} </p>
            <p class="table-item"> {{livro.editora}} </p>
            <p class="table-item"> {{livro.isbn}} </p>
            <div class="action-buttons table-item">
                <button mat-mini-fab color="accent" aria-label="Icon button with edit icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</div>