.livros-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.input-filtro {
    width: 30%;
    padding: 15px;
    background: transparent;
    border: solid var(--mat-divider);
    border-radius: 10px;
    font-size: 16px;

    color: white;

}


.livros-list {
    display: flex;
    flex-flow: column;
    padding: 0;
    width: 100%;
}

.list-header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: auto;
    text-align: center;
    font-size: 16px;
    color: var(--mat-primary);

    background: var(--mat-divider);
    border-bottom: 1px solid var(--mat-primary);
    border-top: 1px solid var(--mat-primary);
}


.list-item {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    background: var(--mat-divider);
    border-top: 1px solid var(--mat-primary);
}

.list-livro {
    border-top-style: dashed;
    cursor: pointer;
}

.list-livro:hover {
    transition: 0.5s;
    background-color: var(--mat-pink-lighter);
    color: black;
    font-weight: 500;
}

.table-item {
    flex: 1;
    align-self: center;
}

p {
    margin: 0;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}